<nav class="navbar bg-warning justify-content-center" style="height: 75px; border-radius: 0px 0px 75px 0px; margin-right: 2%;margin-bottom: 40px; font-weight: bolder;">
  <h1>Nuestros servicios</h1>
</nav>


<div class="card">
  <div class="row">
    <div class="col-4 align-content-center">
      <img src="./../../../assets/images/relajante.jpg" class="img-fluid " style="height: 100%; width: 100%;" alt="prueba">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title"> Relajante</h5>
        <p class="card-text">Masaje suave ideal para liberar estrés de tu cuerpo y lograr una paz interior</p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col-4 align-content-center">
      <img src="./../../../assets/images/descontracturante.jpg" class="img-fluid rounded-start" style="height: 100%; width: 100%;" alt="prueba">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">Descontracturante</h5>
        <p class="card-text">Maniobras que buscan eliminar el dolor de las contracturas.</p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col-4 align-content-center">
      <img src="./../../../assets/images/deportivo.jpg" class="img-fluid rounded-start"  style="height: 100%; width: 100%;" alt="prueba">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">Deportivo</h5>
        <p class="card-text">Maniobras que facilitan la recuperación del músculo por lesión o contractura.</p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col-4 align-content-center">
      <img src="./../../../assets/images/ajustes.jpg" class="img-fluid rounded-start" style="height: 100%; width: 100%;" alt="prueba">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">Ajuste</h5>
        <p class="card-text">Son maniobras básicas para el ajuste cervical y de la columna vertebral.</p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="btn-container">
    <button type="button" class="btn btn-warning btn-lg" (click)="navegar('form')">Hacé tu reserva</button>
  </div>
</div>
