<nav class="navbar bg-warning justify-content-center" style="height: 75px; border-radius: 0px 0px 75px 0px; margin-right: 2%;margin-bottom: 40px; font-weight: bolder;">
  <h1>Nuestros servicios</h1>
</nav>

<!--
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Masajes relajantes
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Los masajes relajantes </strong> son un mimo más que merecido para tu cuerpo.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Masajes descontracturantes
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Los masajes descontracturantes </strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem architecto repellendus itaque quo, quis reiciendis, asperiores inventore vitae, ratione et non error eligendi quibusdam omnis odit reprehenderit ipsam sit ipsum.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Masajes deportivos
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Los masajes deportivos </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eligendi necessitatibus nulla qui quidem dolores quasi et ipsam corporis deleniti nisi nam quas aliquid, libero facere ipsa dolorem. Blanditiis, sapiente!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Kiropraxia
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>La kiropraxia </strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error unde suscipit natus. Dolore quis quos, harum, quae rerum deserunt ab asperiores ipsam quas alias reiciendis nostrum ratione sit doloribus. Debitis!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Depilación definitiva
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>La depilación definitiva </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta autem, ipsum modi nesciunt vitae est quam explicabo esse dolore impedit, harum reprehenderit odit quo aut alias illum atque enim recusandae.
      </div>
    </div>
  </div>
</div>-->

<div class="card">
  <div class="row">
    <div class="col-4 align-content-center">
      <img src="./../../../assets/images/Logo.jpeg" class="img-fluid " alt="prueba">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title"> Relajantes</h5>
        <p class="card-text">Masaje suave ideal para liberar estrés de tu cuerpo y lograr una paz interior</p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col-4 align-content-center">
      <img src="./../../../assets/images/Logo.jpeg" class="img-fluid rounded-start" alt="prueba">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">Descontracturantes</h5>
        <p class="card-text">Maniobras que buscan eliminar el dolor de las contracturas.</p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col-4 align-content-center">
      <img src="./../../../assets/images/Logo.jpeg" class="img-fluid rounded-start" alt="prueba">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">Deportivos</h5>
        <p class="card-text">Trabajan sobre la zona afectada por contractura o lesión fecilitando la recuperación del músculo.</p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col-4 align-content-center">
      <img src="./../../../assets/images/Logo.jpeg" class="img-fluid rounded-start" alt="prueba">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">Ajustes</h5>
        <p class="card-text">Son maniobras básicas para el ajuste cervical y de la columna vertebral.</p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="btn-container">
    <button type="button" class="btn btn-warning btn-lg" (click)="navegar('form')">Hacé tu reserva</button>
  </div>
</div>
