<nav class="navbar bg-warning justify-content-center" style="height: 75px; border-radius: 0px 0px 75px 0px; margin-right: 2%;">
  <h1>Reservá tu masaje</h1>
</nav>
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Algunos datos para hacer tu reserva</h5>
    <form #reservaForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre y apellido</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre completo" [(ngModel)]="nombre" name="nombre" required>
      </div>

      <div class="row g-3 mb-3">
        <div class="col-6">
          <label for="fecha" class="form-label">Elegir fecha</label>
          <input type="date" class="form-control" id="fecha" [(ngModel)]="fecha" name="fecha" [min]="minFecha" required>
        </div>
        <div class="col-6">
          <label for="horario" class="form-label">Elegir horario</label>
          <select class="form-select" [(ngModel)]="horario" name="horario" required>
            <option selected disabled>Horarios</option>
            <option value="9:00hs">9:00hs</option>
            <option value="10:00hs">10:00hs</option>
            <option value="11:00hs">11:00hs</option>
            <option value="12:00hs">12:00hs</option>
            <option value="14:00hs">14:00hs</option>
            <option value="15:00hs">15:00hs</option>
            <option value="16:00hs">16:00hs</option>
            <option value="17:00hs">17:00hs</option>
            <option value="18:00hs">18:00hs</option>
            <option value="19:00hs">19:00hs</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <label for="tipoMasaje" class="form-label">Elegir tipo de masaje</label>
        <select class="form-select" [(ngModel)]="tipoMasaje" name="tipoMasaje" required>
          <option selected disabled>Tipos de masaje</option>
          <option value="Masaje relajante">Masaje relajante</option>
          <option value="Masaje descontracturante">Masaje descontracturante</option>
          <option value="Masaje deportivo">Masaje deportivo</option>
          <option value="Ajuste">Ajuste</option>
        </select>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-warning" [disabled]="!reservaForm.form.valid">Reservar</button>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <button type="button" class="btn btn-outline-warning btn-lg" (click)="navegar('tipos')">Volver</button>
</div>

