<div class="container-fluid d-flex flex-column min-vh-100">

  <div class="container d-flex flex-column align-items-center flex-grow-1" id="logo-index">
    <img src="./../../../assets/images/Logo.jpeg" alt="Logo SENSES">
  </div>

  <div class="container text-center flex-grow-1">
    <div class="btn-container">
      <button type="button" class="btn btn-warning btn-lg" (click)="navegar('tipos')"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"/>
      </svg></button>
    </div>
  </div>

  <footer class="container text-center mt-auto">
    <p class="text-light">SensesApp 1.2 | por <a href="https://ferpanz.github.io/">ferpanz</a></p>
  </footer>

</div>
