<div class="container-fluid d-flex flex-column min-vh-100">

  <div class="container d-flex flex-column align-items-center flex-grow-1" id="logo-index">
    <img src="./../../../assets/images/Logo.jpeg" alt="Logo SENSES">
  </div>

  <div class="container text-center flex-grow-1">
    <div class="btn-container">
      <button type="button" class="btn btn-warning btn-lg" (click)="navegar('tipos')"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
      </svg></button>
    </div>
  </div>

  <footer class="container text-center mt-auto">
    <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 3%;">
      <a href="https://ferpanz.github.io/">
        <img src="./../../../assets/images/Logo_FB.png" alt="FB" style="height: 30px; width: auto; margin-right: 10px;">
      </a>
      <p class="text-light mb-0">SensesApp 1.5</p>
    </div>
  </footer>


</div>
