<div class="container-fluid d-flex flex-column min-vh-100">

  <div class="container d-flex flex-column align-items-center flex-grow-1" id="logo-index">
    <img src="./../../../assets/images/Logo.jpeg" alt="Logo SENSES">
  </div>

  <div class="container text-center flex-grow-1">
    <div class="btn-container">
      <button type="button" class="btn btn-warning btn-lg" (click)="navegar('tipos')">Conocenos</button>
    </div>
  </div>

  <footer class="container text-center mt-auto">
    <p class="text-light">SensesApp 1.2 | por <a href="https://ferpanz.github.io/">ferpanz</a></p>
  </footer>

</div>
